.code-block {

  .code-block-body {
    // background-color: transparent !important;

    .code-block-editor {
      font-size: 16px;
      background-color: transparent !important;

      pre {
        background-color: transparent !important;
        padding: 0 !important;
      }
    }
  }
}

.code-block.code-block-preview-bg {
  .code-block-body {
    background-color: #f6f8fa;
  }
}
