.wrapper {
  position: relative;

  .highlight_disabled:not(:hover):not(.selected) {
    outline-color: transparent !important;
  }

  .drag_button {
    position: absolute;
    opacity: 0;
    z-index: 3;
    top: -18px;
    right: -8px;
  }

  &:hover {
    .drag_button {
      opacity: 1 !important;
    }
  }
}
